.cardscontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    /* margin-left: 20%; */
    /* padding: 15px; */
    margin-top: -10px;
    margin-left: 190px;
    margin-right:200px;
}

.cargando  {
    margin-top:200px;
    margin-right: -900px;
}
section{
    /* height:100px; */
}

header{
    background-color:wheat;
    height:100px;
    
}

body{
    /* padding-top: 80px; */
}
.filtros{

    display: flex;
    flex-direction: column;
    background-color: wheat;
    color: #1a3813c5;
    top: 15%;
    left: 2%;
    margin: 100px 5px;
    margin-left: 1%;
    padding: 10px;
    border-radius: 12px;
    min-width: 200px;
    height: -moz-fit-content;
    height: fit-content;
    position: fixed;

}
 .filtros ul{
    height:100px;

}
.filtros ul{

    list-style: none;
    justify-content:center;
    margin: 10px;
    padding: 10px;
    display: flex;
}
.filtros  li{
    margin: 10px;
    border-radius: 5px 2px;
    border: 1px solid white;
    cursor: pointer;
    padding:5px; 
    height:40px;
    margin-top:-5px;
}
/* .create{
    margin-top:30px;
    margin-left:1100px;
    position:absolute;
    border: 2px solid #1a1919;
    padding:10px;
    cursor: pointer;
    border-radius:10px;
}
.create a{
    text-decoration: none;
    color:black;
}
.create:hover{
    background-color:rgb(144, 144, 149);
    /* margin-left:530px; */
    /* padding:11px; */
/* } */
/* .title{
    margin-right: -1300px;
    margin-top:30px;
    position: absolute;
    width:200px;
}

.title a{
    position:absolute;
}  */

footer{
    background-color:wheat;
    height:50px;
    border-radius:10px;
    margin-top:10px;
}